body {
  background-color: white;
  margin: 0;
  font-family: 'Fredoka One', cursive;
}

header {
  background-color: #62848D;
  margin: 0;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 2px grey;
  color: white;
  text-shadow: 0 0 5px black;
}

header h1 {
  background-color: none;
  margin: 0;
  margin-left: 20px;
}

.select-family {
  background-color: none;
  display: flex;
  align-items: center;
  margin-right: 20px;
  padding: 10px 0;
  padding-left: 20px;
}

.select-family select {
  margin-left: 10px;
  height: 30px;
  width: 160px;
  text-align-last: center;
  border: 1px solid grey;
}

#instrument-family {
  display: flex;
  flex-wrap: wrap;
  background-color: none;
  margin-top: 20px;
}

.family-info {
  background-color: none;
  width: 50%;
}

.family-info h1 {
  margin: 0;
}

.instrument-info {
  background-color: none;
  width: 50%;
}

.instrument-info h2 {
  margin: 0;
}

#instrument-family h1 {
  background-color: none;
  margin: 0 20px;
  color: #62848D;
  text-shadow: 0 0 1px white;
}

#instrument-family p {
  background-color: #62848D;
  box-shadow: 0 0 2px grey;
  margin: 20px;
  padding: 10px;
  text-align: justify;
  color: white;
  text-shadow: 0 0 5px black;
}

#instrument-family h2 {
  background-color: none;
  margin: 0 20px;
  padding: 5px 0;
  color: #62848D
}

#instrument-family ul {
  background-color: none;
  margin: 20px;
  text-transform: capitalize;
  padding: 0;
}

#instrument-family ul li {
  background-color: #62848D;
  box-shadow: 0 0 2px grey;
  list-style-position: inside;
  padding: 10px;
  margin: 10px 0;
  color: white;
  text-shadow: 0 0 5px black;
  transition: 1s;
}

#instrument-family ul li:hover {
  transform:scale(1.02);
  box-shadow: 0 0 5px grey;
  transition: 1s;
}

@media only screen and (max-width: 840px) {
  body {

  }

  header h1 {
    width: 100%;
    margin: 0;
    text-align: center;
    background-color: none;
  }

  .select-family {
    width: 100%;
    background-color: none;
    margin: 0;
    padding-left: 0;
    justify-content: center;
  }

  .family-info {
    background-color: none;
    width: 100%;
  }

  .family-info h1 {
    text-align: center;
  }

  .instrument-info {
    background-color: none;
    width: 100%;
    margin-bottom: 20px;
  }

  .instrument-info h2 {
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  header h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 470px) {
  header h1 {
    font-size: 28px;
  }
}

@media only screen and (max-width: 440px) {
  header h1 {
    font-size: 26px;
  }
}
